<footer class="site-footer">
  <div class="container footer-grid">
    <div class="footer-col">
      <h4>Products</h4>
      <ul>
        <li><a href="products.html">All Machines</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Company</h4>
      <ul>
        <li><a href="about.html">About Us</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Contact</h4>
      <ul>
        <li>Phone: +1 234 567 890</li>
        <li>Email: info@quickresponseinc.com</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">© 2025 Quick Response Inc. All rights reserved.</div>
</footer>